# OS
.DS_Store

# Env
.env

# Logs
logs/

# Backend
backend/node_modules/

# Frontend (React)
frontend/frontend/node_modules/
frontend/frontend/build/

# General
node_modules/
npm-debug.log*
yarn-error.log*
